<app-navbar></app-navbar>
<h1 class="titulo">Menu Semanal</h1>
<div class="busqueda">
    <app-buscar-platos></app-buscar-platos>
    <div class="caracteristicas">
        <h4>Precio acumulado del menu =</h4>
        <h4>Tiempo de preparacion total =</h4>
        <h4>Promedio  Healt Score =</h4>
        <h5>Cantidad de platos vegano en el menu=</h5>
    </div>

</div>

<div class="platos">
    <app-platos></app-platos>
    <app-platos></app-platos>
</div>
<div class="platos">
    <app-platos></app-platos>
    <app-platos></app-platos>
</div>