<div class="formulario">
  
    <input type="text" [formControl]="inputBusqueda" placeholder="Buscar plato para agregar">
    
    <ul *ngFor="let platos of datos">
        <li>
            <h4>{{platos.title}}</h4>
            <p>{{platos.id}}</p>
            <img src="{{platos.image}}" alt="">
            <button class="btn btn-success" (click)="agregar(platos.id)">Agregar al menu</button>
        </li>
    </ul>
    
    <!--
    <ul>
        <li>
            <h4>Este es un titulo largo</h4>
            <img src="../../../assets/imagenes/imagen1.jpg" alt="imagen ">
            <button class="btn btn-success" (click)="agregar({{platos.id}})">Agregar al menu</button>
        </li>
        <li>
            <h4>Este es un titulo largo</h4>
            <img src="../../../assets/imagenes/imagen2.jpg" alt="imagen ">
            <button class="btn btn-success">Agregar al menu</button>
        </li>
        <li>
            <h4>Este es un titulo largo</h4>
            <img src="../../../assets/imagenes/imagen3.jpg" alt="imagen ">
            <button class="btn btn-success">Agregar al menu</button>
        </li>
        <li>
            <h4>Este es un titulo largo</h4>
            <img src="../../../assets/imagenes/imagen4.jpg" alt="imagen ">
            <button class="btn btn-success">Agregar al menu</button>
        </li>
    </ul>
    -->
</div>